.navbar {
  display: flex;
  justify-content: center;
  align-items: cetner;
  text-align: center;
  margin: 2%;
  padding: 2%;
  background-color: #001245;
}

.nav-buttons {
  margin: 0% 3%;
  font-size: 20px;
  cursor: pointer;
  padding: 1% 5%;
  width: 100%;
  border: none;
  background: transparent;
  color: #FFFFFF;
}

.wrapper {
  text-align: center;
  margin: auto;
  justify-content: center;
}

.log {
  font-size: 20px;
  padding: 1% 5%;
  margin: 2%;
  cursor: pointer;
}
.links {
  text-decoration: none;
  color: #FFFFFF;
}

.body {
  text-align: center;
}