#main {
	justify-content:  center;
	align-items:  center;
	text-align:  center;
	margin:  1% 5%;
	padding:  1% 5%;
}

#meme {
	display:  block;
	margin:  auto;
	height:  600px;
	width:  600px;
	border:  2px solid #000000;
	box-shadow:  10px 10px 10px #C0C0C0;
}

#update-button {
	display:  block;
	margin: 2% auto;
	padding: 2% 10%;
	box-shadow:  10px 10px 10px #C0C0C0;
	border:  none;
	background-color:  #FFFFFF;
	font-size:  20px;
	border:  2px solid #000000;
	cursor:  pointer;
}

#update-button:hover {
	transform:  scale(1.2);
}

